DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require
API_PORT=4000
BASE_PATH=/

CLERK_PUBLISHABLE_KEY=pk_test_Y2xvc2UtYnVsbGZyb2ctNzUuY2xlcmsuYWNjb3VudHMuZGV2JA
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2xvc2UtYnVsbGZyb2ctNzUuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_vlLrbIOTetkUYS2jcAbp6oZzbsDaMAOn0uqOusjlrd

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
